.unItem {
  padding: 1rem;
  display: inline-block;
  background-color: #8fa1f5;
  margin: 10px;
  padding-right: 10px;
  border-radius: 15px;
}
.itemAmpliado {
  background-color: #006386;
  margin: 10px;
  padding-right: 10px;
  border-radius: 5%;
  text-align: center;
}

.title_Item {
  font-size: 20px;

  text-align: center;
}
